Source: eog
Section: gnome
Priority: optional
Maintainer: Guilherme de S. Pastore <gpastore@debian.org>
Uploaders: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>, Josselin Mouette <joss@debian.org>, Romain Francoise <rfrancoise@debian.org>, Sebastian Dröge <slomo@debian.org>
Standards-Version: 3.8.0
Build-Depends: cdbs (>= 0.4.41),
               debhelper (>= 5),
               gnome-pkg-tools (>= 0.10),
               gtk-doc-tools (>= 1.9),
               intltool (>= 0.40.0),
               gnome-doc-utils,
               libgtk2.0-dev (>= 2.11.6),
               libglib2.0-dev (>= 2.15.3),
               libgnomeui-dev (>= 2.6.1.1-2),
               libglade2-dev (>= 2.3.6),
               libgconf2-dev (>= 2.6.1-2),
               libart-2.0-dev (>= 2.3.16),
               libgnome-desktop-dev (>= 2.10.0),
               gnome-icon-theme (>= 2.19.1),
               shared-mime-info (>= 0.20),
               libexempi-dev (>= 1.99.5),
               libexif-dev (>= 0.6.14),
               liblcms-dev,
               libjpeg62-dev,
               libdbus-glib-1-dev (>= 0.71),
               x11proto-core-dev,
               python-dev (>= 2.3),
               python-gobject-dev (>= 2.11.5),
               python-gtk2-dev (>= 2.9.7),
               python-gnome2-dev (>= 2.18.2),
               scrollkeeper

Package: eog
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gnome-icon-theme (>= 2.19.1),
         shared-mime-info (>= 0.20)
Recommends: librsvg2-common
Conflicts: eog2
Description: Eye of GNOME graphics viewer program
 eog or the Eye of GNOME is a simple graphics viewer for the GNOME 
 desktop which uses the gdk-pixbuf library.  It can deal with large 
 images, and zoom and scroll with constant memory usage.  Its goals are 
 simplicity and standards compliance.

Package: eog-dbg
Architecture: any
Priority: extra
Depends: eog (= ${binary:Version})
Description: Eye of GNOME graphics viewer program - debugging symbols
 eog or the Eye of GNOME is a simple graphics viewer for the GNOME 
 desktop which uses the gdk-pixbuf library.  It can deal with large 
 images, and zoom and scroll with constant memory usage.  Its goals are 
 simplicity and standards compliance.
 .
 This package contains the debugging symbols for eog.

Package: eog-dev
Architecture: all
Depends: eog (>= ${source:Version}),
         libgnomeui-dev (>= 2.6.1.1-2),
         libglade2-dev (>= 2.3.6),
         libgconf2-dev (>= 2.6.1-2)
Description: Development files for the Eye of GNOME
 eog or the Eye of GNOME is a graphics viewer for the GNOME desktop 
 which uses the gdk-pixbuf library.
 .
 This package contains header files and development information, which 
 is needed to build plugins for the Eye of GNOME.
